body {
  
}

.container {
  background: url("../images/green-maze.gif");
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.left-container {
  float: right;
  width: 700px;
}

.left-container .banner {
  width: 100%;
  height: 112px;
  border-bottom: White 3px solid;
  background-image: url("../images/banner.png");
}

.left-container .tasks-table {
  width: 600px;
  margin: 50px;
  text-align: center;
  font-family: DDAYEFONT;
  font-size: 35px;
  color: White;
  text-decoration: underline;
}

.left-container .task {
  width: 80px;
  height: 80px;
  float: left;
  line-height: 80px;
  cursor: pointer;
  margin: 10px;
}

.left-container .ctf {
  background-color: Orange;
}

.left-container .game {
  background-color: DeepPink;
}

.left-container .cc {
  background-color: Brown;
}

.left-container .locked {
  background-image: url("../images/locked.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  -webkit-border-top-left-radius: 40px;
  -moz-border-top-left-radius: 40px;
  border-top-left-radius: 40px;
}

.left-container .clear {
  background-image: url("../images/clear.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.left-container .unlockable {
  background-image: url("../images/locked.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.right-container {
  width: 300px;
  float:right;
}

.right-container-main {
  height: 500px;
  background-color: rgba(255,0,0,0.7);
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 150px 0 150px;
  border-color: rgba(255,0,0,0.7) transparent transparent transparent;
}

.score {
  color: White;
  font-size: 30px;
  text-decoration: underline; 
}

.right-container-main .name {
  width: 280px;
  padding: 10px 10px 0 10px;
  font-family: DDAYEFONT;
  color: White;
  font-size: 30px;
  text-align: center;
}

.right-container-main .member-name {
  font-size: 22px;
}

.right-container-main .team-skill {
  font-size: 20px;
}

.right-container-main .line {
  width: 100%;
  height: 3px;
  background-color: White;
}

.right-container-main .task-detail .name {
  width: 280px;
  padding: 10px;
  font-family: DDAYEFONT;
  color: White;
  font-size: 45px;
  text-align: center;
}

.right-container-main .task-detail .type {
  width: 150px;
  margin: 0 70px 0 70px;
  font-family: DDAYEFONT;
  color: White;
  font-size: 25px;
  text-align: center;
}

.right-container-main .task-detail .level {
  width: 150px;
  margin: 0 70px 0 70px;
  font-family: DDAYEFONT;
  color: White;
  font-size: 25px;
  text-align: center;
}

.right-container-main .task-detail .status {
  width: 280px;
  margin: 10px;
  font-family: DDAYEFONT;
  color: White;
  font-size: 35px;
  text-align: center;
}

.right-container-main .task-detail .unlockable {
  background-color: Green;
}

.right-container-main .task-detail .locked {
  background-color: Black;
}

.right-container-main .task-detail .unlocked {
  background-color: Red;
}

.right-container-main .task-detail .solved {
  background-color: Red;
}

.right-container-main .task-detail .button {
  cursor: pointer;
  background-color: Black;
}

.right-container-main .task-detail .cc {
  background-color: Brown;
}

.right-container-main .task-detail .ctf {
  background-color: Orange;
}

.right-container-main .task-detail .game {
  background-color: DeepPink;
}

.right-container-main .task-detail .point {
  width: 260px;
  padding: 5px 20px 0px 20px;
  font-family: DDAYEFONT;
  color: White;
  font-size: 25px;
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: 60px;
  background-size: 30px;
  background-position-y: bottom;
}

.right-container-main .task-detail .done {
  # background-image: url("../images/done.png");
}

.right-container-main .task-detail .unlock {
  # background-image: url("../images/key.png");
}